.footer {
  position: relative;
  bottom: 50px;
}
.footer h1 {
  color: #e6e6e6 !important;
  font-family: "Playfair Display", serif !important;
  font-style: italic !important;
}

.footer h1 i {
  font-style: normal;
}

@media (max-width: 600px) {
  .footer h1 {
    font-size: 1.3rem !important;
  }
}
